@use "base/variables" as vars;

@use "../../../node_modules/bootstrap/scss/bootstrap" with (
  $font-family-sans-serif: vars.$font-family-sans-serif,
  $headings-font-family:   vars.$headings-font-family,

  $red:                    vars.$red,
  $dark:                   vars.$dark,

  $btn-border-radius:      vars.$btn-radius,
  $btn-border-radius-sm:   vars.$btn-radius,
  $btn-border-radius-lg:   vars.$btn-radius
);

// Imports base files directly
@use "base/fonts";
@use "base/typography";
@use "components/buttons"; // Buttons
@use "templates/templates";  // Templates for Sections

// --- Site shell: 80% wrapper
.site-wrap {
  width: 80%;
  margin-inline: auto;

  .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
}

// section spacing
section {
    margin-top: clamp(5rem,2.2vw,8rem);
    margin-bottom: clamp(5rem,2.2vw,8rem);

    @media (min-width:992){
        margin-top: clamp(10rem, 3vw, 14rem);
        margin-bottom: clamp(10rem, 3vw, 14rem);
    }
}

// --- Header
.site-header {
  background: var(--header-bg);
  color: #fff;

  .brand-title {
    font-weight: 300;
    font-size: 40px;
    color: #fff;
    margin: 0;
  }
}

