// Imports base files directly
@use "base/fonts";
@use "base/variables" as vars;
@use "base/typography";
@use "components/components"; // Buttons
@use "templates/templates";  // Templates for Sections

@use "../../../node_modules/bootstrap/scss/bootstrap" with (
  $font-family-sans-serif: vars.$font-family-sans-serif,
  $headings-font-family:   vars.$headings-font-family,

  $red:                    vars.$red,
  $dark:                   vars.$dark,

  $btn-border-radius:      vars.$btn-radius,
  $btn-border-radius-sm:   vars.$btn-radius,
  $btn-border-radius-lg:   vars.$btn-radius
);

// --- Site shell: 80% wrapper
.site-wrap {
  width: 80%;
  margin-inline: auto;

  .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
}

// --- Header
.site-header {
  background: var(--header-bg);
  color: #fff;

  .brand-title {
    font-weight: 300;
    font-size: 40px;
    color: #fff;
    margin: 0;
  }
}

// Overlay (for later cards)
.card-overlay {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  padding: .5rem .75rem;
  color: #fff;
  background: linear-gradient(to top, var(--overlay-bg), rgba(0,0,0,0));
}