.DS_Store
__MACOSX

env/
.env
venv/
.venv/

__pycache__/
*.pyc 

.vscode/
.idea/

db.sqlite3

.coverage
.pytest*


# Databases / dumps
*.sqlite3
*.sqlite3-*
*.sqlite3*
*.db
*.db.zip
data/*.db
data/*.zip

# Django artifacts
staticfiles/
media/
*.log