// Uses Sass map utilities and imports Bootstrap defaults to extend them
$font-family-sans-serif: ("Oswald", sans-serif) !default;
$headings-font-family:   ("Oswald", sans-serif) !default;

$red:  #FA0B0B !default;
$dark: #2D2C2C !default;
$btn-radius: 25px !default;
$bp-xlplus: 1350px !default;

:root {
  --header-bg:  #61787F;
  --overlay-bg: rgba(0,0,0,.6);
  --title-black: #000;
}