@use "../base/variables" as vars;
@use "sass:color";

// Base project button (shared traits)
.jsi-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  color: #fff;
  background: transparent;
  border: 1px solid transparent;
  border-radius: vars.$btn-radius;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  padding: 1rem 2rem;
  transition:
    background-color .25s ease,
    border-color .25s ease,
    color .25s ease,
    opacity .25s ease,
    box-shadow .25s ease,
    transform .05s ease-in;

  // Red details (short)
  &--primary {
    background-color: vars.$red;
    border-color: vars.$red;
    font-size: clamp(16px, 2.5vw, 20px);

    &:hover   { background-color: #000; border: #000 solid 2px; }
    &:active  { background-color: #000; border: #000 solid 2px; }
    &:disabled { opacity: .65; cursor: not-allowed; }

    @media (min-width:700px) and (max-width:1280px){
      width: 120px;
      height: 40px;
    }
    @media (min-width:1280px){
      width: 150px;
      height: 80px;
    }
  }

  // Dark details (short, smaller text)
  &--dark {
    background-color: vars.$dark;
    border-color: vars.$dark;
    font-size: clamp(14px, 2.2vw, 20px);
    width: 80px;
    height: 30px;

    &:hover   { background-color: #fff; color: #000 }
    &:active  { background-color: #fff; color: #000 }
    &:disabled { opacity: .65; cursor: not-allowed; }
  }

  // Toggle: “Voir plus / Voir moins” (long red)
  &--toggle {
    background-color: vars.$red;
    border-color: vars.$red;
    font-size: clamp(14px, 2.2vw, 20px);
    padding: .75rem 1.5rem;
    width: auto;
    min-width: 250px;

    &:hover   { background-color: vars.$red; border: vars.$red solid 2px; }
    &:active  { background-color: vars.$red; border: vars.$red solid 2px;}
    &:disabled { opacity: .65; cursor: not-allowed; }
  }

  &--overlay{
    background-color: vars.$overlay-btn--black;
    border-color: vars.$overlay-btn--black;
    border-radius: vars.$btn-radius;
    padding: clamp(.45rem, 2.2vw, .75rem) clamp(.75rem, 2.2vw, 1rem);
    font-size: clamp(14px, 2.2vw, 20px);
    white-space: nowrap;

    &:hover   { filter: brightness(1.1); }
    &:active  { transform: translateY(1px); }
    &:disabled { opacity: .65; cursor: not-allowed; }
  }

  &:focus-visible {
    outline: 2px dashed currentColor;
    outline-offset: 2px;
  }
}

.jsi-btn--overlay{
  background-color: vars.$overlay-btn--black;
  border-color: vars.$overlay-btn--black;
}